aside.col-sm-4
  article.sidebar
    h1.sidebar-title Wer sollte kommen?
    ul.sidebar-body
      li Jeder, der an unserer Kunst interessiert ist 
      li Museologen
      li Maler, Fotografen, grafische Künstler und Designer
      li
        | die daran interessiert sind, sich zu treffen und auszutauschen.
  // article
  article.sidebar
    include artwork