extends layout/index
block speakerslist
  include includes/speakerslist
block content    
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title WELTOFFEN UND TOLERANT - SEIT 1873
            p
              | Das GRASSI Museum für Angewandte Kunst ist eine Kulturinstitution, in der Besucherinnen und Besucher aller Altersklassen Kunst-, Gebrauchs- und Einrichtungsgegenstände aus verschiedenen Epochen und Kulturen entdecken können. Dabei reicht das Spektrum vom Kunsthandwerk der Antike bis zum Design der Gegenwart.
            p
             Das Museum selbst versteht sich als ein Ort des Austausches und der Inspiration. Über verschiedene Sinne regen wir dazu an, Neues zu erfahren, sich mit Kunst auseinanderzusetzen, den eigenen Blick zu schärfen sowie Inhalte zu hinterfragen und vielleicht sogar Rückschlüsse auf die Gesellschaft oder sich selbst zu ziehen. Kunst ist immer auch Genuss; unsere ästhetisch äußerst ansprechend gestaltete Ständige Ausstellung möchte diesem Bedürfnis nachkommen.
          // article
          article.article
            h1.article-title Wer wir sind...
            p
              | Wir sind allen Menschen und ihrem Recht auf Bildung, ungeachtet ihrer Herkunft und religiösen Orientierung, ebenso verpflichtet wie den gesellschaftlichen Werten. Wir glauben daran, dass unsere epochen- und spartenübergreifende Sammlung eine Brücke zwischen den Menschen schlagen kann. Entdecken Sie neue Perspektiven!
              

      include includes/sidebar