extends layout/index
block topcontent  
  .container 
    .row 
      .col-sm-8
        .maincontent
          article.article
            h1
            p(class="intro")
              |Das GRASSI-Kolleg versteht sich als eine Schule des Sehens im praktischen Sinn. Interessierte Jugendliche und Erwachsene sind eingeladen, sich über einen längeren Zeitraum mit klassischen Techniken der Gestaltung auseinanderzusetzen und selbst kunstpraktisch tätig zu sein. Bewährte akademische Methoden des künstlerischen Gestaltens werden fundiert und praxisnah vermittelt. Dabei setzen sich die Teilnehmenden theoretisch und praktisch mit der Sammlung des Museums auseinander. Der GRASSI-KOLLEG Grundkurs mit  Dr. Thomas Rudi, Philipp Walter Schulz und Riley Rudolph Rewington umfasst 3 Veranstaltungen. Die Teilnahmegebühr von 400 Euro, ermäßigt 280 Euro bzw. 200 Euro (Leipzig-Pass) ist bis 20 Tage vor Kursbeginn an der Museumskasse zu entrichten. Bitte denken Sie bei Interesse an eine frühzeitige Anmeldung (gerne acht Wochen vorher) unter: <a href="#">grassimuseum@leipzig.de</a> oder 0341-2229 101
          
      aside.col-sm-4
        article.sidebar
          h1.sidebar-title Wer sollte kommen?
          ul.sidebar-body
            li Menschen, die an unserer Kunst interessiert sind
            li Museologen &amp; Museologinnen
            li Künstler:innen
          // ul
        //article
      //aside
    //row
  //container
block speakerslist
  include includes/speakerslist
block content    
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title WELTOFFEN UND TOLERANT - SEIT 1873
            p
              | Das GRASSI Museum für Angewandte Kunst ist eine Kulturinstitution, in der Besucherinnen und Besucher aller Altersklassen Kunst-, Gebrauchs- und Einrichtungsgegenstände aus verschiedenen Epochen und Kulturen entdecken können. Dabei reicht das Spektrum vom Kunsthandwerk der Antike bis zum Design der Gegenwart.
            p
             Das Museum selbst versteht sich als ein Ort des Austausches und der Inspiration. Über verschiedene Sinne regen wir dazu an, Neues zu erfahren, sich mit Kunst auseinanderzusetzen, den eigenen Blick zu schärfen sowie Inhalte zu hinterfragen und vielleicht sogar Rückschlüsse auf die Gesellschaft oder sich selbst zu ziehen. Kunst ist immer auch Genuss; unsere ästhetisch äußerst ansprechend gestaltete Ständige Ausstellung möchte diesem Bedürfnis nachkommen.
          // article
          article.article
            h1.article-title Wer wir sind...
            p
              | Wir sind allen Menschen und ihrem Recht auf Bildung, ungeachtet ihrer Herkunft und religiösen Orientierung, ebenso verpflichtet wie den gesellschaftlichen Werten. Wir glauben daran, dass unsere epochen- und spartenübergreifende Sammlung eine Brücke zwischen den Menschen schlagen kann. Entdecken Sie neue Perspektiven!
            p
              | Verstärkt achten wir auf einen nachhaltigen Umgang mit Ressourcen - vom Ausstellungsbau über Transporte bis hin zu Drucksachen und Veranstaltungsformaten. Wir bemühen uns bei all den vielschichtigen Prozessen um umweltbewusste Lösungen und streben eine strukturelle Nachhaltigkeit an.  
          article.article
            h1.article-title Nachhaltigkeit
            p 
              | Nachhaltigkeit an sich begleitet das Museum programmatisch schon eine Weile. Und, was sollen wir sagen, es ist uns immens wichtig. Nicht, weil es derzeit vielleicht für ein paar Imagepunkte sorgt, sondern weil wir schlichtweg davon überzeugt sind, dass wir ohne einen kolossalen Salto nach vorn, ohne grundlegende strukturelle Transformation, nicht mehr so weiterarbeiten können wie bisher.
            p
              | Wenn man beispielsweise auf Sonderausstellungen wie TOGETHER. DIE NEUE ARCHITEKTUR DES WOHNENS in den Jahren 2018/19 oder CULTURAL AFFAIRS. KUNST OHNE GRENZEN im Jahr 2021 schaut, haben wir entweder den Blick in eine veränderte Wohn-Zukunft gerichtet bzw. die Herkunft von Kunstwerken und kulturelle Aneignung thematisiert und den Fokus in Richtung Ressourcen gesetzt. Generell ist dem Museum bei seiner Programmgestaltung sehr wichtig, intensiv mit dem museumseigenen Bestand zu arbeiten und möglichst wenige Ausstellungen „einzukaufen“. Bei letztgenanntem ist man stark konfrontiert mit umweltbelastenden weltweiten Transporten von Leihgaben und einer relativ festgelegten Ausstellungsgestaltung.
            p 
              | Beim Ausstellungsbau wird so weit wie möglich vorhandenes Material mehrfach genutzt und umweltfreundliche Klebestoffe und Farben zum Streichen der Ausstellungswände verwendet. Nicht mehr verwendbares Ausstellungsmaterial wird nach Möglichkeit für Upcycling-Projekte an Schulen und Vereine, Künstlerinnen und Künstler sowie weitere Interessierte abgegeben.
            p
              | Seit vier Jahren werden sämtliche Leuchten in der dreiteiligen Dauerausstellung auf LED umgerüstet. Infolgedessen sank der Stromverbrauch seit 2016 um rund 30 Prozent. An einer weiteren Reduzierung wird etappenweise gearbeitet. In sämtlichen Büros soll die Umstellung auf LED demnächst erfolgen.
            p 
              | Das Museum bezieht Ökostrom und achtet bei Neuanschaffungen jeglicher Art auf Nachhaltigkeit. So wurden bei der Neuanschaffung der Sitzmöbel für die Innenhöfe Stühle des Designers Konstantin Grcic gewählt, die zu 100 Prozent aus recyceltem Material bestehen und eine lange Haltbarkeit garantieren.
      
      
      include includes/sidebar